streamlit
anthropic
langchain
langchain-anthropic
langchain-community
langchain-text-splitters
langchain-huggingface
faiss-cpu
pypdf
python-dotenv
sentence-transformers
google-generativeai
google-genai
rank_bm25
pytz
